################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FunDB/obj
/FunDB/bin/Debug/net5.0
/.vs
/FunDBLib/obj
/FunDBLib/bin
